/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. 
body {
     border: 1px dotted gray;
     padding: 20px;
}*/

.navigate li:hover{
     border-bottom: solid coral 3.5px;
 }

 .navigate ul{
     position: absolute; 
     right: 5%;
 }
 .navigate ul li{
     display: inline-block;
     color: coral;
     font-size: 18px;
     border-radius: 10px; 
     padding: 5px;
     margin: 8px;
     border: solid coral;
 }

body {
     font-family: Poppins, sans-serif;
     margin: 0px 40px 20px 50px;
     padding: 10px;
}

h1 {
     margin-top: 50px;
}
 /*
h1:hover {
     border-bottom: solid 4px peachpuff;
     border-radius: 5px;
     text-align: center;
     margin-right: 84%;
}*/

h3 {
     margin-top: 30px;
}

p {
     font-family: Barlow, sans-serif;
}

.intro {
     font-size: 18px;
}

.about {
     background-color: papayawhip;
}

.about p{
     font-size: 21px;
}

/* used if background-color of about page is peachpuff (darker orange)
.about ul a li{
     border: solid white;
     color: white;
}
.about ul a li:hover{
     border-bottom: solid white 3.5px;
}*/

img {
     border-radius: 25px;
     width: 43%;
     height: 45%
}

img:hover {     
     box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
     width: 45%; height: 45%;
}

#descrip{
     float: right;
}

.project {
     background-color: papayawhip;
     margin: 10px 30px 30px 10px;
     border-radius: 30px; 
     padding: 15px;
}

.project p {
     margin-left: 20px;
     padding-left: 10px;
     font-family: Poppins, 'Segoe UI';
}

.project a p:hover {
     color: coral;
}

img .thumbnail {
     width: 50px;
     height: 100px;
     border: 1px solid #434343;
}

.contact-info {
     font-size: 10pt;
     color: #cccccc;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
